<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript">
      var host = <%= "'" + @websock_domain + "'" %>;
      var port = <%= @websock_port %>;
      var falltime = <%= @falltime %>;
    </script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/mmnsdhtml.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all" /> 
    <style type="text/css">
      html {
        overflow: hidden;
      }
      body {
        background-image: url('/images/ScratchDayLogo-Large.png');
        /*         background-position: center; */
        background-repeat: no-repeat;
      }
      .log {
        color: red;
      }
      div.status {
        position: absolute;
        border-style: solid;
        border-width: 1px;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: rgba(255,255,255,0.9);
        max-width: 480px;
      }
      img.profile_image {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      p.text {
        margin-bottom: 5px;
      }
      div#scratch {
        position: absolute;
        /*         z-index: 9999; */
        left: <%= @settings['scratch']['x'] %>px;
        top: <%= @settings['scratch']['y'] %>px;
      }
      div.ustream {
        position: absolute;
        z-index: -1;
      }
    </style>
    <script src="/js/websock.js" type="text/javascript">
      /*
         ws = new WebSocket("ws://localhost:8080");
         ws.onopen = function(e) {
         var resultAreaObj = document.getElementById('result');
         resultAreaObj.innerHTML = '<span class="log">onopen</span><br>' + resultAreaObj.innerHTML;
         };
         ws.onclose = function(e) {
         var resultAreaObj = document.getElementById('result');
         resultAreaObj.innerHTML = '<span class="log">onclose</span><br>' + resultAreaObj.innerHTML;
         };
         ws.onmessage = function(e) {
         var resultAreaObj = document.getElementById('result');
    //resultAreaObj.innerHTML += '<span class="log">onmessage</span><br>';
    resultAreaObj.innerHTML = '<span class="status">' + e.data + '</span><br>' + resultAreaObj.innerHTML;
    //console.log(e.data);
    };
    ws.onerror = function(e) {
    var resultAreaObj = document.getElementById('result');
    resultAreaObj.innerHTML = '<span class="log">onerror</span><br>' + resultAreaObj.innerHTML;
    };
    send = function() {
    var textFieldObj = document.getElementById('textField');
    var data = textFieldObj.value;
    if (data) {
    ws.send(data);
    textFieldObj.value = '';
    }
    };
       */
    </script>
  </head>
  <body>
    <% ['ustream_tokyo', 'ustream_toyota'].each do |place| %>
      <div id="<%= place %>" class="ustream" style="top:<%= @settings[place]['y'] %>px; left:<%= @settings[place]['x'] %>px;"> 
        <%= @embeds[place] %>
        <p><%= place %></p>
      </div>
    <% end %>
    <div id="twitter"></div>
    <div id="scratch">
      <applet id='ProjectApplet' style='display:block' code='ScratchApplet' codebase='http://scratch.mit.edu/static/misc' archive='ScratchApplet.jar' height='387' width='482'>
      <param name='project' value='../../static/projects/mrmayu/1760158.sb'>
      </applet>
      <!--
      <object type="application/x-shockwave-flash" data="http://http://scratch.mit.edu/static/misc/PlayerOnly.swf" width="482" height="387" id="PlayerOnly" style="visibility: visible; position: relative; z-index: 1000; ">
        <param name="allowScriptAccess" value="always">
        <param name="allowFullScreen" value="true">
        <param name="flashvars" value="project=http://scratch.mit.edu/static/projects/mrmayu/1760158.sb?version=4">
      </object>
      -->
      <p style="font-size:20px; background-color:rgba(255,255,255,0.8);">#scratchday, #sd2011tokyo, #wmuseumの<br>
      いづれかのハッシュタグをつけて<br>
      Scratchの作品のURLをツィートすると<br>
      ここが切り替わります</p>
    </div>
    <!--
    <iframe src="/scratch" width="482" height="387" style="z-index:9999"></iframe>
    -->
  </body>
</html>

